/* For old browsers */
#esi-vis {
  display: block;
}
/* Map styles */
#esi-vis .map {
  font-family: arial;
  width: 180px;
  height: 340px;
  margin: 0;
  padding: 0;
  width: 100%;
}
#esi-vis .map img {
  max-width: none;
}
/* Container styles */
#esi-vis .container {
  width: 100%;
}
#esi-vis .clear {
  clear: both;
}
#esi-vis .left_container {
  width: 200px;
  float:left;
}
#esi-vis .right_container {
  margin-left: 200px;
  vertical-align: top;
}
#esi-vis.wide .right_container {
  margin-left: 220px;
  width: 360px;
}
/* Table styles */
#esi-vis .table th {
  padding: 0 3px;
}
.article #container > .content > .text #esi-vis th,
.article #container > .content > .text #esi-vis tbody {
  border: 0;
}
.article #container > .content > .text #esi-vis tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.article #container > .content > .text #esi-vis tbody tr:nth-child(even),
.article #container > .content > .text #esi-vis thead tr:hover {
  background-color: #fff;
}
.article #container > .content > .text #esi-vis tbody tr:hover {
  background-color: #00b4c8;
}
.article #container > .content > .text #esi-vis thead th,
.article #container > .content > .text #esi-vis tbody td {
  border: 0;
  padding: 6px 4px 6px 3px;
  vertical-align: middle;
}
.article #container > .content > .text #esi-vis a {
  color: #000000;
}
/* Button */
#esi-vis button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 0;
  background-color: #7db800;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: arial;
  font-size: 14px;
  padding: 6px 9px;
  width: 200px;
  margin-top: 8px;
  text-align: left;
}
#esi-vis.wide button {
  display: inline-block;
  margin-top: 0;
  width: auto;
}
#esi-vis button:hover {
  background-color: #60a300;
}
#esi-vis .selected_button {
  background-color: #4D8200;
}
#esi-vis #city-view button {
  background-color: #00b4c8;
}
/* Legend */
#esi-vis #legend {
  background-color: #FFF;
  margin: 10px;
  padding: 5px;
}
#esi-vis #legend p {
  font-weight: bold;
  margin-top: 3px;
}
#esi-vis #legend div {
  clear: both;
  margin: 3px 0;
}
#esi-vis #legend {
  padding: 15px 0 15px 15px;
}
#esi-vis #legend p {
  margin-bottom: 5px;
}  
#esi-vis #legend .color {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  float: left;
  margin-top: 2px;
  display: block;
  border: 1px solid #ccc;
}